// ---------------------------------------------------------------------------
// Contains general keyframes (animations)
// ---------------------------------------------------------------------------

// Mixin for keyframes
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }

  // Chrome/Safari
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  // Firefox
  @-moz-keyframes #{$animation-name} {
    @content;
  }

  // Internet explorer
  @-ms-keyframes #{$animation-name} {
    @content;
  }

  // Opera
  @-o-keyframes #{$animation-name} {
    @content;
  }
}

// Change maximum size animation
@mixin changeMaxSize(
  $name,
  $from-max-height: none,
  $to-max-height: none,
  $from-max-width: none,
  $to-max-width: none
) {
  @include keyframes($name) {
    from {
      max-height: $from-max-height;
      max-width: $from-max-width;
    }

    to {
      max-height: $to-max-height;
      max-width: $to-max-width;
    }
  }
}

// Shrinks slightly before popping back out.
@include keyframes(push) {
  50% {
    transform: scale(0.8);
  }
}
