// ---------------------------------------------------------------------------
// Contains everything to do with transitions
// ---------------------------------------------------------------------------

// -enter/-leave: Starting state of entering/leaving object
// -enter-to/-leave-to: Ending state of entering/leaving object
// -enter-active/leave-active: Active state of entering/leaving object (Persists throughout the entire phase)

// Sliding in transition (object slides in on top of previous object)
@mixin page-slide($timing, $translateX) {
  &-enter {
    transform: translateX($translateX);

    &-to {
      transform: translateX(0%);
    }

    &-active {
      transition: transform $timing ease-in-out;
      z-index: 2;
    }
  }

  &-leave-active {
    z-index: -1;
  }
}

// Page transitions
%page-transition {
  position: fixed;
  min-height: $content-height;
  width: 100%;
  background: white;
  top: 56px;
}

.page-slide-left {
  @include page-slide(0.4s, 100%);

  &-enter-active,
  &-leave-active {
    @extend %page-transition;
  }
}

.page-slide-right {
  @include page-slide(0.4s, -100%);

  &-enter-active,
  &-leave-active {
    @extend %page-transition;
  }
}

// Sliding in while fading in/out
@mixin fade-slide($timing, $translateX, $translateY) {
  &-enter-active,
  &-leave-active {
    transition: all $timing;
  }

  &-enter {
    transform: translate($translateX, $translateY);
    opacity: 0;
  }

  &-leave-to {
    transform: translate(-$translateX, -$translateY);
    opacity: 0;
  }
}

.fade-slide-left {
  @include fade-slide(0.2s, 20px, 0px);
}

.fade-slide-right {
  @include fade-slide(0.2s, -20px, 0px);
}

.fade-slide-up {
  @include fade-slide(0.2s, 0px, 20px);
}

.fade-slide-down {
  @include fade-slide(0.2s, 0px, -20px);
}
