// ---------------------------------------------------------------------------
// Contains everything to do with transitions
// ---------------------------------------------------------------------------

// -enter/-leave: Starting state of entering/leaving object
// -enter-to/-leave-to: Ending state of entering/leaving object
// -enter-active/leave-active: Active state of entering/leaving object (Persists throughout the entire phase)

// Page transitions (Page slides in on top of previous page)
%page-transition {
  position: fixed;
  min-height: $content-height;
  width: 100%;
  background: white;
  top: 56px;
}

@mixin page-slide-transition($translateX) {
  &-enter {
    transform: translateX($translateX);

    &-to {
      transform: translateX(0%);
    }

    &-active {
      @extend %page-transition;
      transition: transform 0.4s ease-in-out;
      z-index: 2;
    }
  }

  &-leave-active {
    @extend %page-transition;
    z-index: -1;
  }
}

.page-slide-left {
  @include page-slide-transition(100%);
}

.page-slide-right {
  @include page-slide-transition(-100%);
}

// Sliding in/out while fading in/out
@mixin fade-slide($translateX, $translateY) {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s;
  }

  &-enter {
    opacity: 0;
    transform: translate($translateX, $translateY);
  }

  &-leave-to {
    opacity: 0;
    transform: translate(-$translateX, -$translateY);
  }
}

.fade-slide-left {
  @include fade-slide(20px, 0px);
}

.fade-slide-right {
  @include fade-slide(-20px, 0px);
}

.fade-slide-up {
  @include fade-slide(0px, 20px);
}

.fade-slide-down {
  @include fade-slide(0px, -20px);
}
