// ---------------------------------------------------------------------------
// Contains everything to do with page transitions
// ---------------------------------------------------------------------------

$duration: 0.3s;

%enter-leave-active {
  position: fixed;
  min-height: calc(100vh - 56px);
  width: 100%;
  background: white;
  top: 56px;
}

// Page slides in from the left side.
.slide-left {
  &-enter-active {
    @extend %enter-leave-active;
    transition: transform $duration ease-in-out;
    z-index: 2;
    transform: translateX(100%);
  }

  &-enter-to {
    z-index: 2;
    transform: translateX(0%);
  }

  &-leave-active {
    @extend %enter-leave-active;
    z-index: -1;
  }

  &-leave-to {
    z-index: -1;
  }
}

// Page slides back out the left side.
.slide-right {
  &-enter-active {
    @extend %enter-leave-active;
  }

  &-leave-active {
    @extend %enter-leave-active;
    transition: transform $duration ease-in-out;
    z-index: 2;
    transform: translateX(0%);
  }

  &-leave-to {
    z-index: 2;
    transform: translateX(100%);
  }
}
