// ---------------------------------------------------------------------------
// Contains everything to do with typeface (headline, body, caption, etc.)
// ---------------------------------------------------------------------------

// Mixin for text
@mixin text(
  $font-family,
  $font-size,
  $font-weight,
  $line-height,
  $letter-spacing,
  $text-transform: none
) {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

// Mixin for centered headings (h1, h2). Centers text with middle lines on either side.
@mixin centered-heading($line-size, $width, $line-color, $vertical-margin) {
  padding: $vertical-margin 0;
  text-align: center;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: $width;
    margin: 0 1rem;
    border-top: $line-size solid $line-color;
    transform: translateY(-0.4em);

    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}

// Headings
h1 {
  @include text($heading-font-family, 2.6rem, 400, 1.2, -0.25px, uppercase);
  @include centered-heading(4px, 4rem, $color-on-background, 3%);
}

h2 {
  @include text($heading-font-family, 2.2rem, 300, 1.2, -0.5px, uppercase);
  @include centered-heading(2px, 3rem, $color-on-background-variant, 3%);
}

h3 {
  @include text($heading-font-family, 1.6rem, 400, 1.2, 0);
}

h4 {
  @include text($heading-font-family, 1.4rem, 500, 1.2, 0);
}

// Body
html {
  @include text($body-font-family, 18px, 400, 1.5, 0.5px);
  color: $color-on-background;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 14px;
  }
}

// Links
a {
  text-decoration: none;

  &:link {
    color: $color-accent;
  }

  &:visited {
    color: $color-accent-variant-dark;
  }

  &:hover {
    color: $color-accent-variant-light;
  }
}
