// ---------------------------------------------------------------------------
// This file contains all styles related to the "Button" component.
// ---------------------------------------------------------------------------

button {
  position: relative;
  padding: 8px 32px;
  border: 1px solid $color-accent;
  outline: none;
  color: $color-accent;
  background-color: transparent;
  @include text(inherit, inherit, inherit, inherit, 2px, uppercase); // Fonts need to be inherited
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $color-on-accent;
    background-color: $color-accent;
    @include animation(flicker-accent 3s linear infinite);
  }
}
