// ---------------------------------------------------------------------------
// Contains site-wide layout styles
// ---------------------------------------------------------------------------

body {
  margin: 0;
}

#content {
  position: relative;
  margin-top: 56px;
  overflow: auto;
}
