// ---------------------------------------------------------------------------
// Contains site-wide layout styles
// ---------------------------------------------------------------------------

body {
  margin: 0;
}

#content {
  position: relative;
  min-height: $content-height;
  margin-top: 56px;
  overflow: auto;
}

.page {
  min-height: $content-height;
  margin: 0 24vw;
  overflow: auto;
}
