// -----------------------------------------------------------------------------
// This file contains all styles related to the footer
// -----------------------------------------------------------------------------

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 32px;
    text-align: center;
}
