// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  padding: 0 20%;
  box-sizing: border-box;
  z-index: 3;
  background-color: $color-base;

  img {
    display: block;
    height: 42px;
  }

  nav {
    flex-grow: 1;
    margin-left: 16px;
  }

  ul {
    @include no-decoration-ul;

    li {
      position: relative;
      display: inline-block;
      padding: 16px 12px;
      color: $color-on-base;
      text-align: center;
      text-decoration: none;
      cursor: pointer;

      &.right {
        float: right;
      }

      &:hover {
        color: $color-accent;
      }

      &:after {
        @include shutter-border-vertical(4px, 60px);
      }

      &.router-link-active {
        color: $color-accent;

        &:after {
          width: 100%;
        }
      }
    }
  }
}
