// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

header {
  $breakpoint-large: 1024px;
  $breakpoint-small: 600px; // Convert to vertical menu-bar style navigation

  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  padding: 0 22vw;
  box-sizing: border-box;
  z-index: 3;
  background-color: $color-base;

  @include breakpoint($breakpoint-large) {
    // Smaller horizontal padding with smaller screen
    padding: 0 10vw;
  }

  @include breakpoint($breakpoint-small) {
    display: inline;
    padding: 0;
  }

  #logo {
    display: block;
    height: 42px;

    @include breakpoint($breakpoint-small) {
      float: left;
      margin: 7px 0 7px 2vw;
    }
  }

  #menu-icon {
    display: none;
    float: right;
    height: 36px;
    width: 36px;
    margin: 10px 2vw 10px 0;
    background: url("../assets/ico/header/menu-white.png") center;
    background-size: contain;
    @include transition(background-image 0.5s ease, transform 0.5s ease);

    @include breakpoint($breakpoint-small) {
      display: block;
    }
  }

  input {
    display: none;

    // When menu is not clicked, change icon to accent
    & + #menu-icon:hover {
      background-image: url("../assets/ico/header/menu-accent.png");
    }

    &:checked {
      // When menu is clicked, change icon to close
      & + #menu-icon {
        background: url("../assets/ico/header/menu-close.png") center;
        background-size: contain;
        transform: rotate(90deg);
      }

      // Increase nav's max height
      & ~ nav {
        max-height: 256px;
      }
    }
  }

  nav {
    flex-grow: 1;
    margin-left: 16px;

    @include breakpoint($breakpoint-small) {
      max-height: 0;
      margin-top: 56px;
      margin-left: 0;
      overflow: hidden;
      @include transition(max-height 0.5s ease-in-out);
    }

    ul {
      @include no-decoration-ul;

      li {
        position: relative;
        display: inline-block;
        padding: 12px 8px;
        color: $color-on-base;
        text-align: center;
        cursor: pointer;

        @include breakpoint($breakpoint-small) {
          display: block;
          width: 100%;
          box-sizing: border-box; // Keeps links centered
        }

        &.right {
          float: right;
        }

        &:after {
          @include shutter-border-vertical(2px, 54px);
        }

        &:hover {
          color: $color-accent;
        }

        &.router-link-active {
          color: $color-accent;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}
