// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "About Me" page.
// ---------------------------------------------------------------------------

#about {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: $content-height;
    padding-top: 56px;
    margin-top: -56px;
    background-clip: content-box;
  }

  #intro {
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      img {
        width: 80%;
        max-width: 450px;
        border-radius: 50%;
      }

      p {
        position: relative; // So that the :after and :before in animation can find parent
        display: flex; // Ensures the animation opens from the center outwards
        flex-direction: column;
        justify-content: center;
        max-height: 0;
        max-width: 750px;
        margin: 14px $horizontal-padding-small;
        overflow: hidden;
        text-align: center;

        // Animation
        @keyframes grow-max-height {
          from {
            max-height: 0;
          }
          to {
            max-height: 100vh;
          }
        }

        animation: grow-max-height 3s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;

        // Width grows to max quickly, stays that way, before shrinking quickly
        @keyframes grow-shrink-width {
          75% {
            width: 100%;
          }
        }

        &:before {
          @include shutter-border-vertical(2px, 0);
          animation: grow-shrink-width 1.5s;
        }

        &:after {
          @include shutter-border-vertical(2px, calc(100% - 2px));
          animation: grow-shrink-width 1.5s;
        }
      }
    }
  }

  #experience {

  }
}
