// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "About Me" page.
// ---------------------------------------------------------------------------

#about {
  > section {
    padding: 48px $horizontal-padding;

    @media screen and (max-width: $breakpoint-laptop) {
      padding: 24px $horizontal-padding-small;
    }
  }

  #intro {
    $breakpoint: 1300px; // Unique breakpoint for intro
    display: flex;
    align-items: center;

    @media screen and (max-width: $breakpoint) {
      display: block;
    }

    img {
      width: 80%;
      max-width: 400px;
      margin-right: 36px;
      border-radius: 50%;

      @media screen and (max-width: $breakpoint) {
        display: block;
        margin: 0 auto 24px; // Top margin is 0, horizontal margin is auto, bottom margin is 24px
      }
    }

    p {
      @media screen and (max-width: $breakpoint) {
        text-align: center;
      }
    }
  }

  #experience {
    $breakpoint: 750px;

    &-container {
      display: flex;

      @media screen and (max-width: $breakpoint) {
        display: block;
      }
    }

    #timeline {
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-left: 1.2px solid $color-on-background;

      @media screen and (max-width: $breakpoint) {
        white-space: nowrap;
        overflow: auto;
        border-left: 0;
      }

      li {
        position: relative;
        margin: 6px 12px;
        cursor: pointer;

        @media screen and (max-width: $breakpoint) {
          display: inline-block;
          margin: 0;
          padding: 4px 6px;
          vertical-align: bottom;
          border-bottom: 2px solid $color-on-background;

          &:before {
            display: none;
          }
        }

        &:before {
          position: absolute;
          height: 6px;
          width: 6px;
          left: -16px;
          top: calc(50% - 6px);
          background-color: $color-background-variant;
          border: 1.2px solid $color-on-background;
          border-radius: 75px;
          content: "";
        }

        &.active {
          color: $color-accent;

          @media screen and (max-width: $breakpoint) {
            padding-bottom: 12px;
            border-color: $color-accent;
          }

          &:before {
            border-color: $color-accent;
          }
        }
      }
    }

    &-item {
      margin: 16px;

      ul {
        margin: 0.4rem;
      }
    }
  }

  #interests {
    #interest-group {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style-type: none;

      @mixin interest-group-bottom-borders($width) {
        display: inline-block;
        vertical-align: bottom;
        content: "";
        border-bottom: 1px solid $color-on-background;
        width: $width;
      }

      &:before {
        @include interest-group-bottom-borders(32px);
      }

      &:after {
        @include interest-group-bottom-borders(144px);
      }

      li {
        display: inline-block;
        padding: 8px;
        border: 1px solid $color-on-background;
        vertical-align: bottom;
        background-color: $color-background-variant;
        cursor: pointer;

        &:nth-child(n + 2) {
          margin-left: -1px;
        }

        &.active {
          color: $color-accent;
          height: 50px;
          border-bottom: 0px;
          background-color: $color-background;
        }
      }
    }

    #interest {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style-type: none;

      li {
        padding: 16px 0;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          border-bottom: 1px solid $color-background-variant;
        }
      }

      img {
        width: 25%;
        max-width: 150px;
        border-radius: 50%;
        margin-right: 32px;
      }
    }
  }
}
