// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Contact Me" page.
// ---------------------------------------------------------------------------

#contact {

  &-content{
    display: flex;
    width: 85%;
    max-width: 700px;
    margin: 32px auto;
    flex-flow: column;
  }

  p {
    text-align: center;
  }

  form {
    display: flex;
    flex-flow: column;

    input {
      padding: 10px 6px;
      margin: 4px 0;
      font-family: inherit;
      font-size: inherit;
    }

    textarea {
      padding: 10px 6px;
      margin: 6px 0;
      resize: none;
      font-family: inherit;
      font-size: inherit;
    }
  }

  button {
    width: 20%;
    min-width: 100px;
    max-width: 250px;
    margin: auto;
  }
}
