// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Home" page.
// ---------------------------------------------------------------------------

#home {
  height: 100%;
  width: 100%;
  background-color: $color-base-variant;

  #background-image{
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
  }

  #greeting {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    #name {
      @include text($heading-font-family, 4rem, 300, 1.2, -0.5px, none, $color-on-base);
    }

    span {
      color: $color-on-base-variant;
    }
  }
}
