// ---------------------------------------------------------------------------
// Contains general keyframes (for animation)
// ---------------------------------------------------------------------------

// Mixin for keyframes
@mixin keyframes($keyframes-name) {
  @keyframes #{$keyframes-name} {
    @content;
  }

  // Chrome/Safari
  @-webkit-keyframes #{$keyframes-name} {
    @content;
  }

  // Firefox
  @-moz-keyframes #{$keyframes-name} {
    @content;
  }

  // Internet explorer
  @-ms-keyframes #{$keyframes-name} {
    @content;
  }

  // Opera
  @-o-keyframes #{$keyframes-name} {
    @content;
  }
}

// Neon flicker animation
@mixin neon-flicker($name, $color, $color-dark, $small: false, $box: true, $text: true) {
  @at-root {
    @include keyframes($name) {
      5%,
      19%,
      40%,
      99% {
        @if $text {
          color: $color-dark;
          text-shadow: none;
        }
        @if $box {
          border-color: $color-dark;
          box-shadow: none;
        }
      }

      0%,
      4%,
      20%,
      39%,
      100% {
        @if $text {
          @include neon-text($color, $color-dark, $small);
        }
        @if $box {
          @include neon-box-shadow($color, $color-dark, $small);
        }
      }
    }
  }
}

// Image flicker animation (repeated)
@mixin image-flicker($name, $image-1, $image-2, $image-1-filter: none, $image-2-filter: none) {
  @at-root {
    @include keyframes($name) {
      0%,
      19%,
      22%,
      47%,
      60%,
      82%,
      84%,
      86%,
      88%,
      100% {
        background-image: $image-1;
        filter: $image-1-filter;
      }

      20%,
      21%,
      48%,
      59%,
      83%,
      85%,
      87% {
        background-image: $image-2;
        filter: $image-2-filter;
      }
    }
  }
}
