// ---------------------------------------------------------------------------
// Contains general keyframes (for animation)
// ---------------------------------------------------------------------------

// Animation mixin
@mixin animation($args) {
  animation: $args;
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
}

// Mixin for keyframes
@mixin keyframes($keyframes-name) {
  @keyframes #{$keyframes-name} {
    @content;
  }

  // Chrome/Safari
  @-webkit-keyframes #{$keyframes-name} {
    @content;
  }

  // Firefox
  @-moz-keyframes #{$keyframes-name} {
    @content;
  }

  // Internet explorer
  @-ms-keyframes #{$keyframes-name} {
    @content;
  }

  // Opera
  @-o-keyframes #{$keyframes-name} {
    @content;
  }
}

// Text that glitches out
@include keyframes(glitch-text-animation) {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

// Image flicker animation
@mixin flicker-image($name, $image-1, $image-2, $image-1-filter: none, $image-2-filter: none) {
  @include keyframes($name) {
    0%,
    19%,
    22%,
    47%,
    60%,
    82%,
    84%,
    86%,
    88%,
    100% {
      background-image: $image-1;
      filter: $image-1-filter;
    }

    20%,
    21%,
    48%,
    59%,
    83%,
    85%,
    87% {
      background-image: $image-2;
      filter: $image-2-filter;
    }
  }
}
