// ---------------------------------------------------------------------------
// Contains basic classes
// ---------------------------------------------------------------------------

// Keep all words on same line
.no-wrap{
  white-space: nowrap;
}

// Unordered list with no decoration
ul.no-decoration {
  @extend %no-whitespace;
  list-style-type: none;
}

// Horizontal selector of items
ul.horizontal-selector {
  @extend ul, .no-decoration;
  margin-bottom: 16px;
  overflow: auto;
  white-space: nowrap;

  li {
    display: inline-block;
    padding: 4px 6px;
    margin-top: 8px;
    vertical-align: bottom;
    border-bottom: 1px solid $color-on-background;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out);

    &.active {
      padding-bottom: 12px;
      margin-top: 0;
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}
