// ---------------------------------------------------------------------------
// Contains site-wide content styles
// ---------------------------------------------------------------------------

body {
  margin: 0;
}

// Container for what's shown by the router-view
#content {
  position: relative;
  min-height: $content-height;
  margin-top: $header-height;
  overflow: auto;
}

// The default page (what's within the router-page) [excludes home page]
.page {
  min-height: $content-height;
  margin: 0 24vw;
  overflow: auto;
}
