// ---------------------------------------------------------------------------
// Contains general keyframes (for animation)
// ---------------------------------------------------------------------------

// Mixin for keyframes
@mixin keyframes($keyframes-name) {
  @keyframes #{$keyframes-name} {
    @content;
  }

  // Chrome/Safari
  @-webkit-keyframes #{$keyframes-name} {
    @content;
  }

  // Firefox
  @-moz-keyframes #{$keyframes-name} {
    @content;
  }

  // Internet explorer
  @-ms-keyframes #{$keyframes-name} {
    @content;
  }

  // Opera
  @-o-keyframes #{$keyframes-name} {
    @content;
  }
}

// Background color that moves like VHS scan lines
@include keyframes(gradient-move) {
  0% {
    background-size: 100% 6px;
  }
  50% {
    background-size: 100% 2px;
  }
  100% {
    background-size: 100% 6px;
  }
}

// Text that glitches out
@include keyframes(glitch-text-animation) {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
