// ---------------------------------------------------------------------------
// Contains everything to do with typeface (headline, body, caption, etc.)
// ---------------------------------------------------------------------------

// General text mixin
@mixin text(
  $font-family,
  $font-size,
  $font-weight,
  $line-height,
  $letter-spacing,
  $text-transform: none,
  $color: $color-on-background
) {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size; // Fallback to pixels if rem is not supported
  font-size: calculateRem($font-size);
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
  color: $color;
}

@mixin heading($margin-padding-bottom, $border-bottom) {
  display: inline-block;
  margin-bottom: $margin-padding-bottom;
  padding-bottom: $margin-padding-bottom;
  border-bottom: $border-bottom;
}



// Heading
h1 {
  @include text($heading-font-family, 48px, 400, 1.2, -0.5px, uppercase);
  @include heading(16px, $color-on-background 4px solid);
}

h2 {
  @include text($heading-font-family, 40px, 400, 1.2, -1px, uppercase);
  @include heading(8px, $color-on-background 3px solid);
}

h3 {
}

h4{

}

// Body
#app {
  @include text($body-font-family, 18px, 400, 1.8, 0.5px);
}

// Display

// Glitch text
%glitch-text-pseudo-element {
  content: attr(glitch-text);
  position: absolute;
  white-space: nowrap;
  clip: rect(0, 900px, 0, 0);
  animation: glitch-text-animation 3s infinite alternate-reverse;
}

@mixin glitch-text($color, $background-color, $top-padding: 0, $left-padding: 0, $offset: 1px) {
  position: relative;
  color: $color;

  &:before {
    @extend %glitch-text-pseudo-element;
    top: $top-padding + $offset;
    left: $left-padding + $offset;
    color: $color;
    background-color: $background-color;
  }

  &:after {
    @extend %glitch-text-pseudo-element;
    top: $top-padding - $offset;
    left: $left-padding - $offset;
    color: $color;
    background-color: $background-color;
  }
}
