// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "About Me" page.
// ---------------------------------------------------------------------------

#about {
  &-content {
    margin: 80px 24vw 40px;

    @include breakpoint-tablet {
      margin: 40px 14vw 20px;
    }

    @include breakpoint-phone {
      margin: 40px 4vw 20px;
    }
  }

  section:not(#intro) {
    margin-top: 60px;

    @include breakpoint-tablet {
      margin-top: 30px;
    }
  }

  #intro {
    $breakpoint: 1200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include breakpoint($breakpoint) {
      flex-direction: column;
    }

    img {
      width: 40%;
      max-width: 320px;
      margin-left: 52px;

      @include breakpoint($breakpoint) {
        width: 80%;
        margin-left: 0;
        margin-bottom: 16px;
      }
    }

    p > span {
      white-space: nowrap;
    }
  }

  #experience {
    $breakpoint: 840px;

    &-content {
      display: flex;

      @include breakpoint($breakpoint) {
        display: block;
      }
    }

    #timeline {
      @include navigation-bar(840px);
    }

    #details {
      padding: 4px 0;

      #dates {
        font-size: 16px;
      }

      p {
        margin-top: 1rem;
      }
    }
  }
}
