// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Home" page.
// ---------------------------------------------------------------------------

#home {
  background-color: $color-base;

  #background-image {
    @extend %absolute-center;
    @include size(85vw);
    max-height: 750px;
    max-width: 750px;
    background: center/cover;
    opacity: 0.1;

    @include image-flicker(
      "flicker-home-background",
      url("../assets/img/home/logo-border-accent.png"),
      url("../assets/img/home/logo-border-base.png"),
      drop-shadow(0 0 6px $color-primary) drop-shadow(0 0 12px $color-primary-dark)
    );
    @include animation(flicker-home-background 10s linear infinite);
  }

  #greeting {
    @extend %absolute-center;
    width: 75vw;
    max-width: 420px;
    text-align: center;

    #name {
      display: inline-block;
      @include display-text(min(18vw, 96px));
      margin: 20px 0;
      transform: rotate(-5deg);
    }

    span {
      color: $color-on-base-variant;
    }
  }
}
