// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Home" page.
// ---------------------------------------------------------------------------

#home {
  height: $content-height;
  width: 100%;
  background-color: $color-base;

  #background-image {
    @extend %absolute-center;
    @include size(85vw);
    max-height: 750px;
    max-width: 750px;
    background: center/cover;
    opacity: 0.1;

    @include flicker-image(
      "flicker-home-background-image",
      url("../assets/img/home/logo-border-accent.png"),
      url("../assets/img/home/logo-border-base.png"),
      drop-shadow(0 0 6px $color-primary) drop-shadow(0 0 12px $color-primary-dark)
    );
    @include animation(flicker-home-background-image 10s linear infinite);
  }

  #greeting {
    @extend %absolute-center;
    width: 75%;
    max-width: 420px;
    text-align: center;

    #name {
      @include text($heading-font-family, 76px, 400, 1.2, -0.5px, none, $color-on-base);
      @include glitch-text($color-on-base, $color-base, 10px);
    }

    span {
      color: $color-on-base-variant;
    }
  }
}
