// ---------------------------------------------------------------------------
// This file styles the experience section in the "About Me" page.
// ---------------------------------------------------------------------------

#about #experience {
  @mixin breakpoint {
    @media screen and (max-width: 750px) {
      @content;
    }
  }

  // Horizontal content
  &-content {
    display: flex;

    @include breakpoint {
      display: block;
    }
  }

  #timeline {
    min-height: 450px;
    width: 264px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    list-style-type: none;
    border-left: 2px solid $color-on-background;

    // When screen is smaller than breakpoint (750px), then timeline moves to the top
    @include breakpoint {
      @include horizontal-selector;
      min-height: 0;
      width: auto;
      max-width: none;
      border-left: 0;

      li.active {
        margin-left: 0;
      }
    }

    li {
      position: relative;
      margin: 12px 12px;
      cursor: pointer;
      @include transition(margin-left 0.2s);

      &:before {
        content: "";
        position: absolute;
        height: 6px;
        width: 6px;
        top: calc(50% - 4px);
        left: -18px;
        background-color: $color-background-variant;
        border: 2px solid $color-on-background;
        border-radius: 50%;
        @include transition(left 0.2s);

        @include breakpoint {
          display: none;
        }
      }

      &.active {
        margin-left: 24px;
        color: $color-accent;

        &:before {
          border-color: $color-accent;
          left: -30px;
        }
      }
    }
  }
}
