// ---------------------------------------------------------------------------
// This file styles the "About Me" page general layout.
// ---------------------------------------------------------------------------

#about {
  section {
    $offset: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: $content-height;
    padding-top: $offset;
    margin-top: -$offset;
    background-clip: content-box;
  }

  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
