// ---------------------------------------------------------------------------
// Contains all site-wide Sass mixins
// ---------------------------------------------------------------------------

@mixin shutter-border-vertical($height, $top) {
  content: "";
  position: absolute;
  height: $height;
  width: 0;
  top: $top;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $color-accent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
