// ---------------------------------------------------------------------------
// Contains all site-wide SCSS variables
// ---------------------------------------------------------------------------

// Colors - Greyscale
$mineshaft: #222;
$tundora: #444;
$gray: #888;
$wild-sand: #f4f4f4;
$white: #fff;

// Colors - full color
$malibu: #6ab7ff;
$curious-blue: #1e88e5;
$endeavour: #005cb2;

// Colors - Semantics
$color-base: $tundora;
$color-base-variant: $mineshaft;

$color-accent: $curious-blue;
$color-accent-variant-dark: $endeavour;
$color-accent-variant-light: $malibu;

$color-on-base: $wild-sand;
$color-on-base-variant: $gray;
$color-on-accent: $white;

// Font Families
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway|Share+Tech+Mono&display=swap");
$heading-font-family: "Oswald", sans-serif;
$body-font-family: "Raleway", sans-serif;
$code-font-family: "Share Tech Mono", monospace;

// Official breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;

// Dimensions
$content-height: calc(100vh - 56px); // Screen height - header height (56px)
$horizontal-padding: 20%;
$horizontal-padding-small: 5%;
