// ---------------------------------------------------------------------------
// Contains all site-wide Sass variables
// ---------------------------------------------------------------------------

// Colors

// Greyscale
$mineshaft: #222 !default;
$tundora: #444 !default;
$gallery: #eee !default;
$alabaster: #f7f7f7 !default;

// Color
$purple-heart: #8a2be2;

// Semantic
$color-background: $gallery !default;
$color-background-light: $alabaster !default;
$color-text-on-background: $tundora !default;

$color-accent: $purple-heart;

// Font Families
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway|Share+Tech+Mono&display=swap");

$heading-font-family: "Oswald", sans-serif !default;
$body-font-family: "Raleway", sans-serif !default;
$code-font-family: "Share Tech Mono", monospace !default;

// Dimensions
$horizontal-padding: 20%;
