// ---------------------------------------------------------------------------
// Contains all site-wide Sass variables
// ---------------------------------------------------------------------------

// Colors - Greyscale
$mineshaft: #222;
$tundora: #444;
$gray: #888;
$gallery: #eee;
$white: #fff;

// Colors - full color
$malibu: #6ab7ff;
$curious-blue: #1E88E5;
$endeavour: #005cb2;

// Colors - Semantics
$color-background: $white;
$color-background-variant: $gallery;

$color-base: $tundora;
$color-base-variant: $mineshaft;

$color-accent: $curious-blue;
$color-accent-variant-dark: $endeavour;
$color-accent-variant-light: $malibu;

$color-on-background: $tundora;
$color-on-background-variant: $mineshaft;
$color-on-base: $gallery;
$color-on-base-variant: $gray;

// Font Families
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway|Share+Tech+Mono&display=swap");

$heading-font-family: "Oswald", sans-serif;
$body-font-family: "Raleway", sans-serif;
$code-font-family: "Share Tech Mono", monospace;

// Official breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;

// Dimensions
$horizontal-padding: 20%;
$horizontal-padding-small: 5%;
