// ---------------------------------------------------------------------------
// This file contains all styles related to the "button" component.
// ---------------------------------------------------------------------------

button {
  padding: 12px 42px;
  border: 2px solid $color-accent;
  border-radius: 4px;
  color: $color-accent;
  background-color: transparent;
  // Fonts need to be inherited
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: 2px; // Larger letter spacing than body
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: $color-accent;
    color: $color-on-accent;
  }

  @keyframes push {
    50% {
      transform: scale(0.8);
    }
  }

  // Continues after click (Needed for animation to continue after clicking)
  &:focus {
    animation: push 0.3s ease-in-out 1;
  }
}
