// ---------------------------------------------------------------------------
// This file contains all styles related to the "button" component.
// ---------------------------------------------------------------------------

.button {
  padding: 16px 32px;
  margin: 4px 2px;
  border: 2px solid $color-accent;
  background-color: transparent;
  color: $color-accent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s;

  &:hover {
    background-color: $color-accent;
    color: $color-background;
  }
}
