// ---------------------------------------------------------------------------
// This file contains all styles related to the "NextSectionButton" component.
// ---------------------------------------------------------------------------

#next-section-button {
  margin: auto;
  margin-bottom: 6px;

  img {
    height: 36px;
    width: 54px;
  }
}
