// ---------------------------------------------------------------------------
// This file contains all styles related to the "Next Section Button" component.
// ---------------------------------------------------------------------------

#next-section-button {
  margin-bottom: 12px;

  img {
    height: 36px;
    width: 54px;
  }
}
