// ---------------------------------------------------------------------------
// Contains site-wide layout styles
// ---------------------------------------------------------------------------

body {
  margin: 0;
}

#content {
  position: relative;
  min-height: calc(100vh - 56px); // Screen height - header height (56px)
  margin-top: 56px;
  background-color: $color-background;
}

.background-dark {
  background-color: $color-background-variant;
}
