// ---------------------------------------------------------------------------
// Contains site-wide layout styles
// ---------------------------------------------------------------------------

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#content {
  position: relative;
  min-height: $content-height;
  margin-top: 56px;
  background-color: $color-background;
}

.background-dark {
  background-color: $color-background-variant;
}
