// ---------------------------------------------------------------------------
// Contains all styles related to the header of this site
// ---------------------------------------------------------------------------
header {
  @mixin breakpoint {
    @media screen and (max-width: 500px) {
      @content;
    }
  }

  position: fixed; // Make the navigation bar stay at the top of the page
  display: flex;
  width: 100%;
  top: 0;
  padding: 0 $horizontal-padding;
  box-sizing: border-box;
  align-items: center;
  z-index: 3; // Header on top of animation
  background-color: $color-base-variant;

  @include breakpoint-tablet {
    padding: 0 $horizontal-padding-small;
  }

  @include breakpoint {
    display: inline;
    padding: 0; // Padding needs to be at 0 so that the bottom-border in the nav bar reaches the sides
  }

  // Logo & menu-dropdown
  img {
    display: block;
    height: 42px;

    @include breakpoint {
      display: inline-block;
      margin: 8px $horizontal-padding-small 0;
    }
  }

  // Dropdown menu (only shown when the view is smaller than the breakpoint)
  #menu-dropdown {
    display: none;
    float: right;

    @include breakpoint {
      display: block;
    }
  }

  nav {
    flex-grow: 1;
    margin-left: 16px;

    @include breakpoint {
      margin-left: 0;

      &:not(.shown) {
        display: none;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;

    a {
      position: relative; // :after is limited to the link
      float: left;
      padding: 14.5px;
      text-align: center;
      text-decoration: none;

      @include breakpoint {
        display: block;
        width: 100%;
        box-sizing: border-box; // Keeps links centered
      }

      &.right {
        float: right;
      }

      &:link,
      &:visited {
        color: $color-on-base;
      }

      &:hover {
        color: $color-accent;
      }

      &:after {
        @include shutter-border-vertical(4px, 52px);

        @include breakpoint-mobile {
          top: 46px; // smaller top offset in order to accomodate the last link (contact me)
        }
      }

      &.router-link-active {
        color: $color-accent;

        &:after {
          width: 100%;
        }
      }
    }
  }
}
