// ---------------------------------------------------------------------------
// Contains all styles related to the scroll-to-top button
// ---------------------------------------------------------------------------

#scroll-to-top {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  bottom: 32px;
  right: 2.5%;
  z-index: 1;

  img {
    width: 32px;
  }

  span {
    font-size: 12px;

    @include themed {
      color: t("color-on-background");
    }
  }
}
