// ---------------------------------------------------------------------------
// Contains all styles related to the social links in the sidebar
// ---------------------------------------------------------------------------

#social-links {
  position: fixed;
  bottom: 32px;
  left: 2.5%;
  z-index: 3;

  @include breakpoint-mobile {
    // Links are now locked below the footer
    position: static;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    @include breakpoint-mobile {
      text-align: center;
    }

    li {
      margin: 6px 0;

      // Links are now horizontal
      @include breakpoint-mobile {
        display: inline-block;
        margin: 0 2px;
      }
    }

    img {
      width: 32px;
    }
  }
}
