// ---------------------------------------------------------------------------
// Contains all styles related to the social media links on this site
// ---------------------------------------------------------------------------

#social-links {
  position: fixed;
  bottom: 32px;
  right: 2.5%;
  z-index: 3;

  @media screen and (max-width: $breakpoint-mobile) {
    position: static;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    @media screen and (max-width: $breakpoint-mobile) {
      margin: 8px 0;
      text-align: center;
    }

    li {
      margin: 6px 0;

      @media screen and(max-width: $breakpoint-mobile) {
        display: inline-block;
        margin: 0 2px;
      }
    }

    img {
      width: 32px;
    }
  }
}
