// ---------------------------------------------------------------------------
// Contains all styles related to the social media links on this site
// ---------------------------------------------------------------------------

#social-links {
  position: fixed;
  bottom: 16px;
  right: 2.5%;

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    li {
      margin: 12px 0;
    }
  }
}
