// ---------------------------------------------------------------------------
// Contains all site-wide SCSS mixins
// ---------------------------------------------------------------------------

// Breakpoint mixin
@mixin breakpoint($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @include breakpoint(1200px) {
    @content;
  }
}

@mixin breakpoint-phone {
  @include breakpoint(600px) {
    @content;
  }
}

// Transition mixin
@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}

// Animation mixin
@mixin animation($args) {
  animation: $args;
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
}

// Same height and width mixin
@mixin size($size) {
  height: $size;
  width: $size;
}

// Neon text
@mixin neon-text($color, $color-dark, $small) {
  $size: 2px;
  @if $small {
    $size: 1px;
  }

  color: $color;
  text-shadow: 0 0 $size $color, 0 0 $size / 2 $color-dark;
}

// Creates a neon box-shadow around the element
@mixin neon-box-shadow($color, $color-dark, $small) {
  $size: 8px;
  @if $small {
    $size: 2px;
  }

  border-color: $color;
  box-shadow: 0 0 $size $color, 0 0 $size * 2 $color-dark, 0 0 $size / 2 $color, inset 0 0 $size $color,
    inset 0 0 $size * 2 $color-dark, inset 0 0 $size / 2 $color;
}

// Pseudo-border(-top/-bottom) that expands and contracts from the center
@mixin shutter-border-horizontal($height, $top, $width: 0) {
  content: "";
  position: absolute;
  height: $height;
  width: $width;
  top: $top;
  left: 0;
  right: 0; // requires both left and right to center shutter
  margin: 0 auto;
  background-color: $color-primary;
  @include transition(width 0.3s ease);
}
