// ---------------------------------------------------------------------------
// Contains all site-wide SCSS mixins
// ---------------------------------------------------------------------------

// Breakpoint mixin
@mixin breakpoint($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @include breakpoint(1200px) {
    @content;
  }
}

@mixin breakpoint-phone {
  @include breakpoint(600px) {
    @content;
  }
}

// Transition mixin
@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}

// Animation mixin
@mixin animation($args) {
  animation: $args;
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
}

// Same height and width mixin
@mixin size($size) {
  height: $size;
  width: $size;
}

// Neon text
@mixin neon-text($color, $color-dark, $small) {
  $size: 2px;
  @if $small {
    $size: 1px;
  }

  color: $color;
  text-shadow: 0 0 $size $color, 0 0 $size / 2 $color-dark;
}

// Creates a neon box-shadow around the element
@mixin neon-box-shadow($color, $color-dark, $small) {
  $size: 8px;
  @if $small {
    $size: 2px;
  }

  border-color: $color;
  box-shadow: 0 0 $size $color, 0 0 $size * 2 $color-dark, 0 0 $size / 2 $color, inset 0 0 $size $color,
    inset 0 0 $size * 2 $color-dark, inset 0 0 $size / 2 $color;
}

// Standard navigation bar (vertical until breakpoint is reached)
@mixin navigation-bar($breakpoint) {
  @extend %no-decoration;
  min-width: 200px;
  margin: 0 12px;
  border-left: 1px solid $color-on-background-variant;

  @include breakpoint($breakpoint) {
    position: relative;
    min-width: 0;
    overflow: auto;
    white-space: nowrap;
    border-left: 0;
    padding: 4px !important;

    &:after {
      content: "";
      position: absolute;
      bottom: 6px;
      height: 1px;
      width: 99%;
      z-index: -1;
      background: $color-on-background-variant;
    }
  }

  li {
    position: relative;
    padding: 8px 12px;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out);

    @include breakpoint($breakpoint) {
      display: inline-block;
      padding: 8px 12px 14px;
      margin-top: 8px;
      vertical-align: bottom;
    }

    &:before {
      content: "";
      position: absolute;
      @include size(6px);
      top: 50%;
      left: -4px;
      transform: translateY(-50%);
      background-color: $color-background;
      border: 1px solid $color-on-background;
      border-radius: 50%;
      @include transition(all 0.2s ease-in-out);

      @include breakpoint($breakpoint) {
        top: auto;
        left: auto;
        right: 50%;
        bottom: 2px;
        transform: translateY(50%);
      }
    }

    &.active {
      padding-left: 20px;
      color: $color-primary;

      @include breakpoint($breakpoint) {
        padding-left: 12px;
        margin-top: 0;
        padding-bottom: 22px;
      }

      &:before {
        border-color: $color-primary;
        left: -4px;

        @include breakpoint($breakpoint) {
          left: auto;
          bottom: 2px;
        }
      }
    }
  }
}

// Pseudo-border(-top/-bottom) that expands and contracts from the center
@mixin shutter-border-horizontal($height, $top, $width: 0) {
  content: "";
  position: absolute;
  height: $height;
  width: $width;
  top: $top;
  left: 0;
  right: 0; // requires both left and right to center shutter
  margin: 0 auto;
  background-color: $color-primary;
  @include transition(width 0.3s ease);
}
