// ---------------------------------------------------------------------------
// Contains all site-wide SCSS placeholder selectors
// ---------------------------------------------------------------------------

// Centers element using position: absolute
%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Removes all whitespace around
%no-whitespace {
  padding: 0;
  margin: 0;
}

// Anchor with no underline on hover
a%no-underline{
  background: none;
}

// Unordered list with no decoration
ul%no-decoration {
  @extend %no-whitespace;
  list-style-type: none;
}
