// ---------------------------------------------------------------------------
// Contains all site-wide SCSS variables
// ---------------------------------------------------------------------------

// Colors
$color-primary: #00acff;
$color-primary-light: #51c5f3;
$color-primary-dark: #008bce;
$color-on-primary: black;

$color-secondary: #fc6097;
$color-secondary-light: #ff94c8;
$color-secondary-dark: #c52869;
$color-on-secondary: black;

$color-background: white;
$color-on-background: #161616;
$color-on-background-variant: #666;

$color-base: #161616;
$color-on-base: white;
$color-on-base-variant: #aaa;

// Font-families
@import url("https://fonts.googleapis.com/css?family=Oswald|Titillium+Web|Share+Tech+Mono&display=swap");
$heading-font-family: "Oswald", sans-serif;
$body-font-family: "Titillium Web", sans-serif;
$code-font-family: "Share Tech Mono", monospace;

// Dimesions
$header-height: 56px;
$content-height: calc(100vh - #{$header-height});
