// ---------------------------------------------------------------------------
// Contains all site-wide SCSS variables
// ---------------------------------------------------------------------------

// Colors
$color-accent: #00ACFF;
$color-accent-light: #51C5F3;
$color-accent-dark: #008BCE;
$color-on-accent: black;

$color-background: white;
$color-on-background: #222;
$color-on-background-light: #666;

$color-base: #111;
$color-on-base: white;
$color-on-base-light: #AAA;

// Font-families
@import url("https://fonts.googleapis.com/css?family=Staatliches|Raleway|Share+Tech+Mono&display=swap");
$heading-font-family: "Staatliches", sans-serif;
$body-font-family: "Raleway", sans-serif;
$code-font-family: "Share Tech Mono", monospace;
