// ---------------------------------------------------------------------------
// Contains all site-wide SCSS variables
// ---------------------------------------------------------------------------

// Colors
$color-accent: #00acff;
$color-accent-light: #51c5f3;
$color-accent-dark: #008bce;
$color-on-accent: black;

$color-background: white;
$color-on-background: #161616;
$color-on-background-variant: #666;

$color-base: #161616;
$color-on-base: white;
$color-on-base-variant: #aaa;

// Font-families
@import url("https://fonts.googleapis.com/css?family=Oswald|Barlow|Share+Tech+Mono&display=swap");
$heading-font-family: "Oswald", sans-serif;
$body-font-family: "Barlow", sans-serif;
$code-font-family: "Share Tech Mono", monospace;

// Dimesions
$header-height: 56px;
$content-height: calc(100vh - #{$header-height});
